:root {
  --white: #ffffff;
  --pirple: #864cff;
  --red: #e98182;
  --grey-1: #f0f0f0;
  --grey-2: #efefef;
  --grey-3: #e2e2e2;
  --grey-4: #717171;
  --grey-5: #8b8b8b;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('../src/fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../src/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('../src/fonts/Poppins-ExtraBoldItalic.ttf');
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--grey-1);
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 870px) {
  html {
    font-size: 52.5%;
  }
}

@media (width < 770px) {
  html {
    font-size: 47.5%;
  }
}

@media (width < 670px) {
  html {
    font-size: 42.5%;
  }
}

@media (width < 570px) {
  html {
    font-size: 32.5%;
  }
}
